
.search-bar h6 {
}

div.search-input {
  margin-right: 10px;
  margin-left: 10%;
}

.search-input input {
  color: white;
}

ul.search-results {
  width: 50%;
  margin-left: 10%;
}

.result .add-button {
  opacity: 0;
  transition: opacity 2ms;
}

.artist-container {
  display: flex;
  padding: 20px;
}

.image-container {
  width: 240px;
  display: flex;
  align-items: center;
}

.image-container img {
  max-height: 174px;
}

.result:hover .add-button {
  opacity:1;
  transition: opacity 2ms;
}

.artist-card {
  width: 240px;
  min-height: 320px;
  margin: 10px;
}